@model IEnumerable<Uppgift4.ViewModels.ProgramVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sections clearfix">
    <section>
        <ul id="channel1" class="pictures">
            <img src="~/Content/img/svt.png" alt="SVT">
            @foreach (var item in Model)
            {
                if (item.channel_id == 1)
                {
                    <li><a href="#">@Html.DisplayFor(modelItem => item.start_time) | @Html.DisplayFor(modelItem => item.program_name) | @Html.DisplayFor(modelItem => item.program_type)</a></li>
                }
            }
        </ul>
    </section>
</div>