@model Uppgift4.Models.user

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div>
    <label for="username">Användarnamn</label><input type="text" id="username" />
    <label for="password">Lösenord</label><input type="text" id="password" />
    <button>Logga in</button>
    <div>
        @Html.ActionLink("Skapa konto", "Create")
    </div>
</div>

