header{
	font-family: "Times New Roman";
	color: white;
	text-align: center;
	background-color: #1a0861;
	line-height: 100px;
	padding: 7px 0 0 0 ;
	height: 100px;
	margin: 0px;
}
nav{
	background-color: #56739c;
	padding:  15px 0 15px 0;
	text-align: center;
}
.icon-bar{
	background-color: black;
}
.navbar-toggle{
	border: 1px solid black; 
}
a{
	color: black;
}
nav ul{
	list-style-type: none;
	display: inline;
}
ul.navMenu li{
	display: inline;
	margin: 0 0 0 20px;
}
section ul{
	list-style-type: none;
	margin: 10px;
	padding: 15px 100px 15px 60px; 
	border: 1px solid black; 
}
.error{
	color:red;
}
section{
	text-align: center;
	float:left;
	width: 100%;
}
.pictures img{
	height: 45px;
	width: 45px;
}
footer{
	background-color: #56739c;
	text-align: center;
	padding:  10px 0 10px 0;
}
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: black;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
.box {
    width: 70%;
}

.popup {
    width: 70%;
}
}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix{*zoom:  1;}